absl-py==2.5.0
cffi==2.1.0
etils==1.14.0
fsspec==2026.7.0
glfw==2.10.2
iniconfig==2.3.0
msgpack==1.2.1
mujoco==3.11.0
numpy==2.5.1
packaging==26.2
-e .
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
PyOpenGL==3.1.10
pytest==8.4.2
PyYAML==6.0.3
ruff==0.16.1
sounddevice==0.5.5
typing_extensions==4.16.0
websockets==17.0.1
zipp==4.1.0
